# https://developer.android.com/tools/variables#set

- name: stat .profile
  ansible.builtin.stat:
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.profile"
  register: profile

- name: stat .bash_profile
  ansible.builtin.stat:
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.bash_profile"
  register: bash_profile

- name: which .profile?
  ansible.builtin.set_fact:
    profile_file:
        # - .bashrc
        - "{{ '.profile' if profile.stat.exists else '.bash_profile' if bash_profile.stat.exists }}"

# - debug:
#     msg: "{{profile_file}}" 

- name: environment variables
  ansible.builtin.blockinfile:
    marker: "Dart"
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{item}}"
    create: true
    block: |
      export PATH="$PATH:/usr/lib/dart/bin"
    backup: true
  loop: "{{profile_file}}"